/** Reset CSS Básico */
*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-color: #05050c;
    color: #EFF0F1;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10%;
}

.container__content {
    width: 615px;
}

.container__content__title {
    font-size: 2rem;
}

.title-emphasis {
    color: #3BB6FF;
}
